*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

input{
    border-radius: 6px;
    border: 0;
    background-color: rgb(226, 226, 226);
    width: 200px;
    height: 50px;
}

input::placeholder{
    padding: 10px;
}

form:first-child{
    padding-left: 20px;
    padding-top: 20px;
}

h1{
    padding-left: 20px;
    padding-top: 20px;
    font-size: x-large;
    font-weight: 400;
}

button{
    border: 0;
    border-radius: 6px;
    height: 50px;
    cursor: pointer;
    width: 127px;
}

div{
    background-color: rgb(212, 212, 212);
    border-radius: 6px;
    width: 800px;
    margin: 5px 0 5px 20px;
    padding: 3px;
}

section{
    padding: 20px;
}